.mobile {
  display: none;
}

@media only screen and (min-width: 320px) and (max-width: 920px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: flex;
  }
}
ul {
  list-style-position: inside;
}