$bgDark: #333333;
$bgLight: #E5E5E5;
$bgViolet: #956D84;
$bgVioletHover: #b599a9;
$bgVioletActive: rgba(150, 110, 133, 0.15);

$textDark: #333333;
$textViolet: #956D84;
$textVioletLight: rgba(150, 110, 133, 0.5);
$textLight: #ffffff;
$textGray: #828282;

$fontSize: 1rem;
$font: MuseoModerno, sans-serif;
$fontMuseoSansCyrl: MuseoSansCyrl, sans-serif;