@import '../variables.scss';
@import '../mixin.scss';

.sale-header {
    font-size: $fontSize * 3;
    font-weight: bold;
    color: $textDark;
    @include padding (7.2rem, 0, 0, 0);
    display: flex;
    justify-content: center;
    position: relative;
}

.sale-flowers {
    @include d-flex(row, space-between);
    flex-wrap: wrap;
    width: 100%;
}

.sale-item {
    border: 1px solid $textViolet;
    background-color: $textLight;
    position: relative;
    @include d-flex(column);
    width: calc(25% - 18px);
    margin-top: 20px;

    .catalog & {
        width: calc(33.333% - 8px);
    }

    &_top {
        background-color: #FBF9FA;
        position: relative;

        &_item {
            width: 3.5rem;
            height: 3.5rem;
            border: 1px dashed #E72222;
            font-size: $fontSize;
            border-radius: 45px;
            position: absolute;
            top: 6px;
            left: 20px;
            @include d-flex(column, center, center);
        }

        &_like {
            background-image: url(../images/heart.svg);
            background-repeat: no-repeat;
            background-size: 100%;
            width: 33px;
            height: 30px;
            position: absolute;
            right: 1.5rem;
            top: 2rem;

            &:active,
            &.active {
                background-image: url(../images/heart-active.svg);
            }
        }

        &-img {
            width: 100%;
            @include padding(0, 2rem, 0, 2rem);
        }

        &_top {
            background-color: rgba(157, 117, 140, 0.39);
            border-radius: 45px;
            width: 3.5rem;
            height: 3.5rem;
            color: $textViolet;
            position: absolute;
            right: 0.8rem;
            bottom: 1.7rem;
            margin: auto;
            @include d-flex(column, center, center);
        }
    }

    &_bottom {
        @include d-flex(column);
    }
}

.retting {
    margin-left: 2.5rem;
}

.sale-item_price-row {
    @include d-flex(row, space-around);
    font-size: $fontSize * 1.125;
    font-weight: 300;
    font-family: $fontMuseoSansCyrl;
    margin-top: 1.625rem;
    margin-bottom: 2.56rem;
    line-height: 1rem;
}

.sale-item_item-name {
    color: $textDark;
}

.sale-item_item-price {

    &-false {
        color: $textLightGray;
        text-decoration: line-through;
    }

    &-true {
        color: $textViolet;
        font-weight: 700;
    }
}

.sale-item_order-btn {
    background-image: url(../images/button.png);
    background-size: 100%;
    background-color: $bgViolet;
    box-shadow: inset 0px 5px 5px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 7px;
    color: $textLight;
    font-family: $font;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    @include padding(22px, 52px, 21px, 51px);
    margin: auto;

    &:hover {
        background-color: rgba(149, 109, 132, 0.9);
    }

    &:active {
        background-color: rgba(149, 109, 132, 0.5);
    }
}

.sale-item_quick-link {
    color: #828282;
    font-family: 'Euclid Circular B';
    font-weight: 400;
    @include d-flex(row, center);
    margin: 1rem 0;

    &:hover {
        color: $textViolet;
    }

    &:active {
        color: $textVioletLight;
    }
}

.m-top {
    margin-top: 1.5rem;
}


@media only screen and (min-width:320px) and (max-width:768px) {

    .sale-item {
        width: calc(50% - 8px);
        display: none;

        .catalog & {
            width: calc(50% - 8px);
            display: flex;
        }
    
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4) {
            display: flex;
        }

        &_top {
            &_item {
                width: 2rem;
                height: 2rem;
                font-size: $fontSize * 0.6;
                top: 4px;
                left: 4px;
            }

            &_top {
                width: 2.2rem;
                height: 2.2rem;
                bottom: 0.5rem;
                right: 0.5rem;

            }

            &_like {
                width: 14px;
                height: 12px;
                top: 11px;
                right: 6px;
            }
            
        }
    }

    .sale-header {
        font-size: 24px;
        padding: 3rem 0 2rem;
        @include d-flex (column,center,center);

    }

    .retting {
        margin-left: 0;
    }

    .sale-item_item-name {
        padding-bottom: 1rem;
        font-size: 12px;
        line-height: 18px;
    }
    .sale-item_item-price {
        font-size: 14px;

    }
    .sale-item_price-row {
        @include d-flex(column, center, center);
        left: 0;
        right: 0;
        margin: 0.8rem auto;
    }
    .sale-item_quick-link {
        font-size: 10px;
    }
    .button__mobile {
        background-color: $bgViolet;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
    }
    .sale-item__footer {
        @include d-flex (row, space-between, center);
        padding: 0 11px 0 9px;
        margin-top: auto 
    }
    .sale-item_bottom {
        @include d-flex (column);
        flex-grow: 1;
    }
    .button__card {
        display: inline-block !important;
    }
    html, body {
        margin: 0px;
        padding: 0px;
        background: url("http://digital.bnint.com/filelib/s9/photos/white_wood_4500x3000_lo_res.jpg");
    }
    
}