@import '../variables.scss';
@import '../mixin.scss';

.sale-header {
    font-size: $fontSize * 3;
    font-weight: bold;
    color: $textDark;
    @include padding (7.2rem, 0, 0, 0);
    display: flex;
    justify-content: center;
    position: relative;
}
.sale-flowers {
    @include d-flex(row, space-between);
    flex-wrap: wrap;
    width: 100%;
}

.sale-item {
    border: 1px solid $textViolet;
    background-color: $textLight;
    position: relative;
    @include d-flex(column);
    width: calc(25% - 18px);
    margin-top: 20px;

    &_top {
        background-color: #FBF9FA;
        position: relative;

        &_item {
            width: 3.5rem;
            height: 3.5rem;
            border: 1px dashed #E72222;
            font-size: $fontSize;
            @include padding(17px, 5px, 18px, 10px);
            border-radius: 45px;
            position: absolute;
            margin: 6px 20px;
        }

        &_like {
            background-image: url(../images/heart.svg);
            background-repeat: no-repeat;
            background-size: 100%;
            width: 33px;
            height: 30px;
            position: absolute;
            right: 1.5rem;
            top: 2rem;

            &:active,
            &.active {
                background-image: url(../images/heart-active.svg);
            }
        }

        &-img {
            width: 100%;
            @include padding(0, 2rem, 0, 2rem);
        }

        &_top {
            background-color: rgba(157, 117, 140, 0.39);
            border-radius: 45px;
            width: 3.5rem;
            height: 3.5rem;
            position: absolute;
            right: 0.8rem;
            bottom: 1.7rem;
            margin: auto;
            @include d-flex(column, center);
            align-items: center;
        }
    }

    &_bottom {
        @include d-flex(column);
    }
}

.retting {
    margin-left: 2.5rem;
}

.sale-item_price-row {
    @include d-flex(row, space-around);
    font-size: $fontSize * 1.125;
    font-weight: 300;
    font-family: $fontMuseoSansCyrl;
    margin-top: 1.625rem;
    margin-bottom: 2.56rem;
    line-height: 1rem;
}

.sale-item_item-name {
    color: $textDark;
}

.sale-item_item-price {

    &-false {
        color: #BDBDBD;
        text-decoration: line-through;
    }

    &-true {
        color: $textViolet;
        font-weight: 700;
    }
}

.sale-item_order-btn {
    background-image: url(../images/button.png);
    background-size: 100%;
    background-color: $bgViolet;
    box-shadow: inset 0px 5px 5px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 7px;
    color: $textLight;
    font-family: $font;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    @include padding(22px, 52px, 21px, 51px);
    margin: auto;

    &:hover {
        background-color: rgba(149, 109, 132, 0.9);
    }

    &:active {
        background-color: rgba(149, 109, 132, 0.5);
    }
}

.sale-item_quick-link {
    color: #828282;
    font-family: 'Euclid Circular B';
    font-weight: 400;
    @include d-flex(row, center);
    margin: 1rem 0;

    &:hover {
        color: $textViolet;
    }

    &:active {
        color: $textVioletLight;
    }
}

.m-top {
    margin-top: 1.5rem;
}


@media only screen and (min-width:320px) and (max-width:768px) {

    .sale-item {
        width: calc(50% - 8px);

    }

}