.about-shop {
  display: flex;
}

.about-shop-item {
  display: grid;
  align-content: space-between;
}

.about-text {
  color: #333333;
  font-family: MuseoSansCyrl, sans-serif;
  font-size: 1rem;
  line-height: 30px;
}

.about-text > p {
  padding-bottom: 1rem;
}

.list-marker::marker {
  color: #956D84;
  font-size: 1.5em;
}

.about__sale {
  font-family: MuseoSansCyrl, sans-serif;
  font-size: 36px;
  color: #956D84;
}

.about__menu {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 920px) and (max-width: 1440px) {
  .lap_version {
    display: flex;
    flex-direction: column;
  }

  .card-text,
.about-text {
    font-size: 14px;
    line-height: 20px;
  }

  .text_w {
    width: 100%;
  }

  .about__sale {
    font-size: 1.5rem;
  }
}