.header {
  flex-direction: column;
  font-family: MuseoSansCyrl, sans-serif;
  color: #ffffff;
}
.header-top {
  background-color: #333333;
}
.header-top-width {
  max-width: 88.75rem;
  margin: auto;
  position: relative;
}
.header-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 88.75rem;
  margin: auto;
  position: relative;
  padding: 1.75rem 0 4rem;
}

.favorite-img {
  width: 1.5rem;
}

@media only screen and (min-width: 920px) and (max-width: 1024px) {
  .header__navigation {
    display: none !important;
  }

  .header__menu-left {
    justify-content: start !important;
  }

  .content {
    font-size: 14px !important;
  }
}
@media only screen and (min-width: 920px) and (max-width: 1440px) {
  .logo img {
    width: 80px;
  }

  body {
    font-size: 14px;
  }

  .favorite-img {
    width: 1.6rem;
  }
}
@media only screen and (min-width: 920px) and (max-width: 1600px) {
  .content,
.header-top-width,
.header-bottom {
    margin: 0 64px;
  }
}
.header__img-left {
  background-image: url(../images/right_flow.png);
  position: absolute;
  width: 10%;
  min-height: 505px;
  margin-top: 30%;
}

.header__img-right {
  background-image: url(../images/left_flow.png);
  position: absolute;
  right: 0;
  bottom: 0;
  width: 10%;
  min-height: 505px;
}

.header__menu-left {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 50rem;
  align-items: baseline;
}

.header__menu-right {
  position: absolute;
  right: 0;
}

.menu__category {
  color: #ffffff;
  font-family: EuclidCircularB-Regular, sans-serif;
  font-weight: 700;
}

.nav-link-style {
  color: #333333;
}

.nav-link-hover {
  color: #333333;
}
.nav-link-hover:hover, .nav-link-hover:focus {
  color: #956D84;
}

.header__list {
  text-decoration: none;
  color: #ffffff;
}
.header__list:hover {
  color: #ffffff;
}
.header__list-link {
  color: #956D84;
}
.header__list-link:hover {
  color: #956D84;
  background-color: transparent;
}

.hover-link:hover {
  background-color: #956D84;
  color: #ffffff;
}
.hover-link:active {
  background-color: #956D84;
  color: #ffffff;
}

.circle {
  --bs-bg-opacity: 1;
  background-color: rgba(255, 255, 255, 0.7);
  margin: 4px -2px;
}

.line_register {
  border-left: 1px solid #956D84;
  height: 1rem;
}

/* header-menu*/
.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  max-width: 814px;
  margin: 0 2rem;
}
.menu__search {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.d-flex {
  justify-content: space-between;
}

.dropdown-bottom {
  border-bottom: 1px solid #956D84;
}

.dropdown-search {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 1;
}

.header__navigation {
  right: 0;
  font-family: MuseoSansCyrl, sans-serif;
  font-size: 1rem;
  line-height: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.header__navigation-social-btn {
  background-color: #956D84;
  width: 27px;
  padding: 6px;
  border-radius: 50%;
}
.header__navigation-social-btn:hover {
  background-color: rgba(149, 109, 132, 0.9);
}
.header__navigation-social-btn:active {
  background-color: rgba(149, 109, 132, 0.5);
}
.header__navigation-phone {
  color: #333333;
}
.navigation-btn {
  border: none;
  background-color: transparent;
}

.favorite-price {
  color: #828282;
  text-decoration: none;
}

.circle-violet {
  background-color: #956D84;
  font-family: MuseoSansCyrl, sans-serif;
}

@media only screen and (min-width: 320px) and (max-width: 920px) {
  .content {
    padding: 0 1rem;
  }

  .header-bottom {
    justify-content: space-between;
    width: 100%;
    padding: 1rem;
  }

  .favorite-img {
    width: 1.56rem;
  }

  .circle-violet {
    font-size: 0.5em;
  }

  .badge-mobile {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    font-size: 8px;
    background-color: #956D84;
  }

  .border-menu-left {
    border-right: 1px solid #956D84;
  }

  .border-menu-right {
    border-left: 1px solid #956D84;
  }
}