.content {
  max-width: 88.75rem;
  margin: auto;
}

.banners {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  max-height: 42.125rem;
}
.banners__item:nth-child(1) {
  grid-column: 1/3;
  grid-row: 1/3;
}
.banners__item {
  position: relative;
}
.banners__item-img {
  width: 100%;
  height: 100%;
}
.banners__item-bg1 {
  background-color: #FFDB6B;
  padding-top: 4px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 2.56rem;
}
.banners__item-bg2 {
  background-image: url(../images/bg-box.png);
  padding-top: 2.3rem;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 4rem;
}
.banners__item-title {
  position: absolute;
  font-size: 2rem;
  font-weight: 700;
  color: #333333;
  top: 2.75rem;
  right: 1.25rem;
}

.pleft {
  top: 2rem;
  left: 1.44rem;
}

.options {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.options__name {
  position: absolute;
  font-family: MuseoSansCyrl, sans-serif;
  font-size: 1.5rem;
  line-height: 2.19rem;
  margin: 3.625rem 0 0 0.5rem;
  color: #333333;
}
.options__name-title {
  font-size: 0.875rem;
  line-height: 1.125rem;
  padding-top: 1rem;
  color: #828282;
}
.options__name-video {
  align-items: center;
  bottom: 1.44rem;
}
.options__name-present {
  margin: 0;
  right: 0.5rem;
  top: 3.625rem;
  text-align: right;
}

.options__img {
  width: 100%;
}

.options-link {
  position: relative;
  width: calc(33.33% - 22px);
}

.color-text {
  color: #ffffff;
}

.button-page {
  position: absolute;
  right: 0;
}

.button-carousel {
  border: none;
  background-color: transparent;
}

.oll__news {
  font-family: MuseoSansCyrl, sans-serif;
  font-size: 1rem;
  color: #956D84;
  text-decoration: none;
}
.oll__news:hover {
  color: #956D84;
}

.forum__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.forum__list-item {
  position: relative;
  width: 32%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.forum__list-item-bg {
  position: absolute;
  z-index: -1;
  background-color: #956D84;
  width: 100%;
  height: 80%;
  bottom: 0;
}
.forum__list-item-img {
  padding: 0 24px;
}
.forum__list-item-title {
  font-family: MuseoSansCyrl, sans-serif;
  color: #ffffff;
  font-size: 1.5rem;
  line-height: 25px;
  padding: 2rem 0 1rem 1.6rem;
}
.forum__list-item-descr {
  font-size: 1rem;
  line-height: 18px;
  color: #ffffff;
  padding: 2rem 0 1rem 1.6rem;
}

.maps {
  position: relative;
  margin: 5rem 0;
}
.maps-bg {
  width: 100%;
  height: 508px;
}
.maps__menu {
  position: absolute;
  right: 13.75rem;
  top: 0;
  bottom: 0;
}
.maps__menu-top {
  background-color: #ffffff;
  position: relative;
  width: 23.75rem;
  height: 50%;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 100% 0, 100% 0, 100% 90%, 90% 100%, 10% 100%, 0% 90%, 0% 10%);
}
.maps__menu-top-img {
  text-align: center;
  margin: 1.5rem 0 2.625rem;
}
.maps__menu-top-phone {
  padding: 0 0 0 4.5rem;
}
.maps__menu-bottom {
  background-color: #ffffff;
  position: relative;
  width: 23.75rem;
  height: 50%;
  overflow: hidden;
  clip-path: polygon(0 10%, 10% 0, 90% 0, 100% 10%, 100% 100%, 0 100%, 0 100%, 0 0, 0 0);
  padding: 1.5rem 0 0 4.5rem;
  top: -1px;
}

.menu__title {
  display: flex;
}

.phone-title {
  font-family: EuclidCircularB-Regular, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 18px;
  color: #333333;
  padding-left: 1rem;
}

.phone-number {
  font-family: MuseoSansCyrl, sans-serif;
  font-size: 1rem;
  line-height: 18px;
  font-weight: 300;
  color: #828282;
}

.carousel-indicators [data-bs-target] {
  width: 4px;
  height: 4px;
  border-radius: 50%;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .options.mobile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .options__name {
    font-size: 10px;
    font-weight: 700;
    line-height: 15px;
    color: #333333;
    margin-top: 0.5rem;
    left: 0;
    right: 0;
  }

  .forum__list {
    display: flex;
    flex-direction: column;
  }
  .forum__list-item {
    width: 100%;
  }

  .maps__menu {
    left: 0;
    right: 0;
    top: 13rem;
  }
  .maps__menu-top {
    width: 90%;
    margin: auto;
  }
  .maps__menu-top-img {
    margin: 1.4rem 0;
  }
  .maps__menu-top-phone {
    padding: 0 0 0 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
  }
  .maps__menu-bottom {
    width: 90%;
    margin: auto;
  }

  .menu__title-imgMobile {
    width: 3.7rem;
  }

  .phoneForMobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
  }

  .phone-number {
    font-size: 12px;
    padding-right: 0.5rem;
  }

  .phone-title {
    font-size: 12px;
  }

  .menu__title {
    margin-top: 0.5rem;
  }

  .maps__menu-bottom {
    padding: 1.5rem 0 0 1.5rem;
    height: auto;
    padding-bottom: 2rem;
  }
  .maps__menu-bottom-mobile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
  }

  .maps__menu-navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .fs-footer {
    font-size: 14px;
  }

  .forum__list-item-img {
    width: 100%;
  }
  .forum__list-item-title {
    font-size: 14px;
    padding: 1rem;
  }
  .forum__list-item-descr {
    font-size: 12px;
    padding: 0rem 0 1rem 1rem;
  }
}
.dropdown-menu li {
  position: relative;
}

.dropdown-menu .submenu {
  display: none;
  position: absolute;
  left: 100%;
  top: -7px;
}

.dropdown-menu .submenu-left {
  right: 100%;
  left: auto;
}

.dropdown-menu > li:hover {
  background-color: #f1f1f1;
}

.dropdown-menu > li:hover > .submenu {
  display: block;
}

.dropdown-chevron-left::after {
  content: "";
  background-image: url(/images/shevron-left.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 15px;
  height: 7px;
  display: inline-block;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}
.dropdown-chevron-left:hover::after {
  background-image: url(/images/shevron-right.svg);
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .dropdown-chevron-left::after {
    background-image: url(/images/shevron-right_white.svg);
  }
}
.footer {
  background-color: #333333;
}
.footer__border {
  border-bottom: 2px solid #956D84;
  padding-bottom: 2rem;
}
.col__title {
  font-size: 1.125rem;
  text-decoration: none;
  color: #ffffff;
  font-family: MuseoSansCyrl, sans-serif;
  font-weight: 700;
  padding: 3rem 0;
}
.col__title:hover {
  color: #956D84;
}
.col__title:active {
  color: #956D84;
}
.col__list {
  list-style: none;
}
.col-listen {
  text-decoration: none;
  color: #ffffff;
  font-family: MuseoSansCyrl, sans-serif;
  font-size: 1rem;
  font-weight: 300;
}
.col-listen:hover {
  color: #956D84;
}
.col-listen:active {
  color: #956D84;
}
.col-listen-style {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .footer__money {
    width: 100%;
  }

  .footer-mobile {
    display: flex;
    flex-direction: column;
  }

  .col-listen-style {
    display: flex;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }

  .payment-method-title {
    display: none;
  }

  .col__list {
    width: calc(33% - 12px);
    text-align: center;
    padding: 0.7rem 0;
  }

  .col-listen {
    font-size: 12px;
    display: flex;
    flex-wrap: wrap;
  }

  .header-top-width {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
  }
}
.catalog__title {
  color: #333333;
  font-family: MuseoSansCyrl, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 6rem;
}

.catalog__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.catalog__menu-filter {
  font-size: 18px;
  font-family: MuseoSansCyrl, sans-serif;
}
.catalog__menu-center {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.catalog__link {
  color: #333333;
  font-size: 1.25rem;
  font-weight: 400;
}
.catalog__link:hover, .catalog__link:active, .catalog__link:focus {
  color: #333333;
  font-weight: bold;
}

.catalog__menu-whom-item {
  color: #828282;
}

.dropdown__catalog-chevron-bottom::after {
  content: "";
  background-image: url("/images/chevron_bottom.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 15px;
  height: 7px;
  display: inline-block;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}

.dropdown__catalog-chevron-bottom:hover::after {
  background-image: url("/images/chevron_top.svg");
}

.header__list-link-checkbox {
  display: none;
}

.header__list-link-check {
  visibility: hidden;
}

.header__list-link-checkbox:checked + .header__list-link-check {
  visibility: visible;
}

.content__menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4.5rem 0 6rem;
}

.page-link {
  color: #B0B9C0;
  border: none;
  font-size: 1.5rem;
  font-family: EuclidCircularB-Regular, sans-serif;
  padding: 0.575rem 1.3rem;
}
.page-link:hover {
  color: #ffffff;
  background-color: #D6C5CF;
}

.page-link-chevron:hover {
  background-color: transparent;
}

.content-info {
  background-color: #FBF9FA;
  width: 100%;
  height: auto;
  padding: 6rem;
}
.content-info-item {
  font-family: MuseoSansCyrl, sans-serif;
  font-size: 1rem;
  color: #333333;
}
.content-info-title {
  font-family: MuseoSansCyrl, sans-serif;
  font-size: 2.25rem;
  color: #956D84;
  padding: 6rem 0 3rem;
  text-align: center;
}
.content-info-link {
  font-family: EuclidCircularB-Regular, sans-serif;
  font-size: 1.125rem;
  color: #956D84;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 4rem;
}
.content-info-link:hover {
  color: #956D84;
  font-weight: bold;
}

.dropdown-menu > li:hover {
  background-color: transparent;
}

.dropdown-item:hover,
.dropdown-item:active {
  font-weight: bold;
  background-color: transparent;
  color: #956D84;
}

.breadcrump-link {
  color: #828282;
}
.breadcrump-link:hover {
  color: #956D84;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .catalog__filter-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
  }

  .catalog__title {
    margin-bottom: 0;
    font-size: 24px;
    margin-top: 2rem;
    font-weight: bold;
  }

  .btn-title {
    background: #956D84;
    border-radius: 5px;
    color: #ffffff;
  }

  .btn-title_2 {
    color: #956D84;
    font-size: 14px;
    border: 1px solid #956D84;
    width: calc(50% - 22px);
  }

  .page-link {
    padding: 0.5rem;
    font-size: 1rem;
  }

  .content__menu {
    padding-bottom: 2rem;
  }

  .content-info {
    padding: 1rem;
  }
  .content-info-item {
    font-size: 14px;
  }
  .content-info-title {
    font-size: 20px;
    padding: 3rem 1rem;
  }
  .content-info-link {
    font-size: 14px;
    padding: 2rem 0;
  }

  .border-end {
    color: #956D84;
  }
}
.header {
  flex-direction: column;
  font-family: MuseoSansCyrl, sans-serif;
  font-size: 1rem;
  color: #ffffff;
}
.header-top {
  background-color: #333333;
}
.header-top-width {
  max-width: 88.75rem;
  margin: auto;
  position: relative;
}
.header-bottom {
  display: flex;
  flex-direction: row;
  max-width: 88.75rem;
  margin: auto;
  position: relative;
}

.header__img-left {
  background-image: url(../images/right_flow.png);
  position: absolute;
  width: 10%;
  min-height: 505px;
  margin-top: 30%;
}

.header__img-right {
  background-image: url(../images/left_flow.png);
  position: absolute;
  right: 0;
  bottom: 0;
  width: 10%;
  min-height: 505px;
}

.header__menu-left {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 50rem;
  align-items: baseline;
}

.header__menu-right {
  position: absolute;
  right: 0;
}

.menu__category {
  font-size: 1rem;
  color: #ffffff;
  font-family: EuclidCircularB-Regular, sans-serif;
  font-weight: 700;
}

.nav-link-style {
  color: #333333;
}

.nav-link-hover {
  color: #333333;
}
.nav-link-hover:hover, .nav-link-hover:focus {
  color: #956D84;
}

.header__list {
  text-decoration: none;
  color: #ffffff;
}
.header__list:hover {
  color: #ffffff;
}
.header__list-link {
  color: #956D84;
}
.header__list-link:hover {
  color: #956D84;
  background-color: transparent;
}

.hover-link:hover {
  background-color: #956D84;
  color: #ffffff;
}
.hover-link:active {
  background-color: #956D84;
  color: #ffffff;
}

.circle {
  --bs-bg-opacity: 1;
  background-color: rgba(255, 255, 255, 0.7);
  margin: 4px -2px;
}

.line_register {
  border-left: 1px solid #956D84;
  height: 1rem;
}

/* header-menu*/
.header-bottom {
  padding: 1.75rem 0 4rem;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 12.5rem 0 7.5rem;
  flex-grow: 1;
}
.menu__search {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.d-flex {
  justify-content: space-between;
}

.dropdown-bottom {
  border-bottom: 1px solid #956D84;
}

.dropdown-search {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 1;
}

.header__navigation {
  right: 0;
  font-family: MuseoSansCyrl, sans-serif;
  font-size: 1rem;
  line-height: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.header__navigation-social-btn {
  background-color: #956D84;
  width: 27px;
  padding: 6px;
  border-radius: 50%;
}
.header__navigation-social-btn:hover {
  background-color: rgba(149, 109, 132, 0.9);
}
.header__navigation-social-btn:active {
  background-color: rgba(149, 109, 132, 0.5);
}
.header__navigation-phone {
  color: #333333;
}
.navigation-btn {
  border: none;
  background-color: transparent;
}

.favorite-img {
  width: 40px;
}

.favorite-price {
  color: #828282;
  text-decoration: none;
}

.circle-violet {
  background-color: #956D84;
  font-family: MuseoSansCyrl, sans-serif;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .header-bottom {
    justify-content: space-between;
    width: 100%;
    padding: 1rem;
  }

  .favorite-img {
    width: 25px;
  }

  .circle-violet {
    font-size: 0.5em;
  }

  .badge-mobile {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    font-size: 8px;
    background-color: #956D84;
  }

  .border-menu-left {
    border-right: 1px solid #956D84;
  }

  .border-menu-right {
    border-left: 1px solid #956D84;
  }
}
.sale-header {
  font-size: 3rem;
  font-weight: bold;
  color: #333333;
  padding-top: 7.2rem;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  display: flex;
  justify-content: center;
  position: relative;
}

.sale-flowers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.sale-item {
  border: 1px solid #956D84;
  background-color: #ffffff;
  position: relative;
  display: flex;
  flex-direction: column;
  width: calc(25% - 18px);
  margin-top: 20px;
}
.catalog .sale-item {
  width: calc(33.333% - 8px);
}
.sale-item_top {
  background-color: #FBF9FA;
  position: relative;
}
.sale-item_top_item {
  width: 3.5rem;
  height: 3.5rem;
  border: 1px dashed #E72222;
  font-size: 1rem;
  border-radius: 45px;
  position: absolute;
  top: 6px;
  left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sale-item_top_like {
  background-image: url(../images/heart.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 33px;
  height: 30px;
  position: absolute;
  right: 1.5rem;
  top: 2rem;
}
.sale-item_top_like:active, .sale-item_top_like.active {
  background-image: url(../images/heart-active.svg);
}
.sale-item_top-img {
  width: 100%;
  padding-top: 0;
  padding-right: 2rem;
  padding-bottom: 0;
  padding-left: 2rem;
}
.sale-item_top_top {
  background-color: rgba(157, 117, 140, 0.39);
  border-radius: 45px;
  width: 3.5rem;
  height: 3.5rem;
  color: #956D84;
  position: absolute;
  right: 0.8rem;
  bottom: 1.7rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sale-item_bottom {
  display: flex;
  flex-direction: column;
}

.retting {
  margin-left: 2.5rem;
}

.sale-item_price-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 1.125rem;
  font-weight: 300;
  font-family: MuseoSansCyrl, sans-serif;
  margin-top: 1.625rem;
  margin-bottom: 2.56rem;
  line-height: 1rem;
}

.sale-item_item-name {
  color: #333333;
}

.sale-item_item-price-false {
  color: #BDBDBD;
  text-decoration: line-through;
}
.sale-item_item-price-true {
  color: #956D84;
  font-weight: 700;
}

.sale-item_order-btn {
  background-image: url(../images/button.png);
  background-size: 100%;
  background-color: #956D84;
  box-shadow: inset 0px 5px 5px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 7px;
  color: #ffffff;
  font-family: EuclidCircularB-Regular, sans-serif;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  padding-top: 22px;
  padding-right: 52px;
  padding-bottom: 21px;
  padding-left: 51px;
  margin: auto;
}
.sale-item_order-btn:hover {
  background-color: rgba(149, 109, 132, 0.9);
}
.sale-item_order-btn:active {
  background-color: rgba(149, 109, 132, 0.5);
}

.sale-item_quick-link {
  color: #828282;
  font-family: "Euclid Circular B";
  font-weight: 400;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1rem 0;
}
.sale-item_quick-link:hover {
  color: #956D84;
}
.sale-item_quick-link:active {
  color: rgba(150, 110, 133, 0.5);
}

.m-top {
  margin-top: 1.5rem;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .sale-item {
    width: calc(50% - 8px);
    display: none;
  }
  .catalog .sale-item {
    width: calc(50% - 8px);
    display: flex;
  }
  .sale-item:nth-child(1), .sale-item:nth-child(2), .sale-item:nth-child(3), .sale-item:nth-child(4) {
    display: flex;
  }
  .sale-item_top_item {
    width: 2rem;
    height: 2rem;
    font-size: 0.6rem;
    top: 4px;
    left: 4px;
  }
  .sale-item_top_top {
    width: 2.2rem;
    height: 2.2rem;
    bottom: 0.5rem;
    right: 0.5rem;
  }
  .sale-item_top_like {
    width: 14px;
    height: 12px;
    top: 11px;
    right: 6px;
  }

  .sale-header {
    font-size: 24px;
    padding: 3rem 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .retting {
    margin-left: 0;
  }

  .sale-item_item-name {
    padding-bottom: 1rem;
    font-size: 12px;
    line-height: 18px;
  }

  .sale-item_item-price {
    font-size: 14px;
  }

  .sale-item_price-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 0;
    right: 0;
    margin: 0.8rem auto;
  }

  .sale-item_quick-link {
    font-size: 10px;
  }

  .button__mobile {
    background-color: #956D84;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
  }

  .sale-item__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 11px 0 9px;
    margin-top: auto;
  }

  .sale-item_bottom {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .button__card {
    display: inline-block !important;
  }

  html, body {
    margin: 0px;
    padding: 0px;
    background: url("http://digital.bnint.com/filelib/s9/photos/white_wood_4500x3000_lo_res.jpg");
  }
}
.modal-btn {
  font-family: MuseoSansCyrl, sans-serif;
  color: #ffffff;
  font-size: 12px;
  padding: 0.5rem 0.8rem;
}

.modal__list-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 0;
  margin-bottom: 0;
}

.modal__list-group-item {
  border: none;
  color: #333333;
  font-size: 1rem;
  font-family: MuseoSansCyrl, sans-serif;
  font-weight: 400;
}

.badge-item {
  color: #956D84;
  font-size: 1rem;
  font-family: MuseoSansCyrl, sans-serif;
  font-weight: 400;
}

.catalog.nav-link:focus {
  color: #333333;
}

.catalog.nav-link:hover {
  color: #956D84;
}

.nav-link:visited {
  color: #956D84;
}

.modal-header {
  background-color: #333333;
  color: #ffffff;
}

.btn-close {
  color: #ffffff;
}

.border-btn {
  border-bottom: 1px solid #956D84;
}

.basket-item {
  border: 1px solid #956D84;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: MuseoSansCyrl, sans-serif;
  font-size: 1rem;
  color: #333333;
  text-align: center;
  margin-bottom: 1rem;
}
.basket-item-img {
  width: 150px;
}
.basket-item-img-bg {
  width: 75%;
  max-width: 75px;
}
.basket-item-price {
  width: 15%;
}
.basket-item-title {
  font-weight: bold;
  width: calc(100% - 75px - 60%);
}
.basket-item-ollPrice {
  font-weight: bold;
  width: 15%;
}
.basket-item-piece {
  width: 15%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.basket-item-obj {
  width: 15%;
}

.basket-price-false {
  color: #BDBDBD;
  text-decoration-line: line-through;
}

.page-link-piece {
  border: none;
  background-color: transparent;
  color: #333333;
}

.pagination-basket {
  border: 1px solid #956D84;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.basket-menu {
  display: flex;
  margin-left: 150px;
}
.basket-menu-title {
  width: calc(40% - 150px);
}
.basket-menu-item {
  width: 15%;
}

.basket-head {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-family: MuseoSansCyrl, sans-serif;
  font-size: 1rem;
  color: #BDBDBD;
  text-align: center;
  margin-bottom: 1rem;
}
.basket-head:hover {
  color: #956D84;
}

.basket-head-right {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.basket-item-dsc {
  padding: 0 3rem;
  text-align: left;
}

.title-bas {
  font-family: MuseoSansCyrl, sans-serif;
  font-weight: bold;
  font-size: 36px;
  color: #956D84;
}
.title-bas-name, .title-bas-price {
  font-family: MuseoSansCyrl, sans-serif;
  font-size: 1rem;
  color: #BDBDBD;
}
.title-bas-oll {
  font-size: 24px;
  color: #333333;
}
.title-bas-oll_price {
  font-size: 24px;
  font-weight: bold;
  color: #333333;
}

.title-bas-price {
  color: #333333;
}

.basket-btn {
  font-size: 1rem;
  text-decoration: none;
}
.basket-btn:hover {
  color: #ffffff;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .basket-item-img {
    width: 25%;
  }

  .basket-item-piece {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .basket-item-obj {
    width: 35%;
  }

  .text-start {
    font-size: 12px;
    font-weight: bold;
  }

  .btn-mobile-basket {
    display: flex;
  }

  .oll__price_mobile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
  }

  .btn-mobile-basket {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
  }

  .btn-mobile-basket > button {
    padding: 0;
  }

  .page-link {
    padding: 0 0.5rem;
  }

  .text-top {
    margin-top: 0.5rem;
  }

  .title-bas {
    font-size: 24px;
  }

  .basket-item-dsc {
    padding: 0.5rem 4rem;
  }

  .recommendations .sale-item:nth-child(3),
.recommendations .sale-item:nth-child(4) {
    display: none;
  }
}
.order__menu {
  border: 1px solid #956D84;
  padding: 2.75rem;
  font-size: 14px;
  font-family: MuseoSansCyrl, sans-serif;
}
.order__menu-title {
  font-size: 20px;
  color: #333333;
  font-weight: bold;
  padding: 0 0 3rem;
}
.order__menu-calendar {
  position: absolute;
  right: 2rem;
  top: 1rem;
}

.card-menu {
  z-index: 1;
  top: -12px;
  left: 20px;
  border-left: 3px solid white;
  border-right: 3px solid white;
  background-color: white;
  color: #BDBDBD;
}

.card-placeholder {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  width: 100%;
  padding: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: #333333;
  font-size: 14px;
}

.order-item-dsc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 3rem;
  text-align: left;
}

.order-mb {
  padding-bottom: 20rem;
  margin-right: 1rem;
}

.table__order {
  border: transparent;
}

.orders {
  border: 1px solid #956D84;
  display: flex;
  flex-direction: column;
  font-family: MuseoSansCyrl, sans-serif;
  font-size: 1rem;
  color: #333333;
  text-align: center;
  margin-bottom: 1rem;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .display-mobile {
    display: flex;
    flex-direction: column;
  }

  .order__menu {
    padding: 1rem;
  }
  .order__menu-title {
    font-size: 1rem;
    padding: 1rem;
  }

  .content__p {
    padding: 0 1rem;
  }

  .order-mt {
    margin-top: 1rem;
  }
}
.accordion-button {
  font-size: 24px;
  padding: 2rem 4rem;
}

.accordion-flush .accordion-item {
  background-color: transparent;
}
.accordion-flush .accordion-button {
  font-size: 16px;
  background-color: transparent;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .accordion-button::after {
    transform: rotate(270deg);
  }

  .accordion-button:not(.collapsed)::after {
    transform: rotate(90deg);
  }

  .accordion-button {
    padding: 1rem 0;
  }
}
.forum {
  color: #333333;
  font-family: MuseoSansCyrl, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 4rem;
}
.forum__about {
  font-family: MuseoSansCyrl, sans-serif;
  font-size: 18px;
  font-weight: 400;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .forum {
    margin-bottom: 2rem;
  }
  .forum__about {
    font-size: 12px;
    padding: 0.5rem 1rem;
  }

  .accordion {
    padding: 0 1rem;
  }
}
.review__menu {
  display: flex;
}
.review__menu-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 1rem;
}
.review__menu-list-item {
  border: 1px solid #956D84;
  width: calc(25% - 2rem);
  margin: 1rem;
  padding: 1.8rem 1.3rem;
}

.name {
  color: #333333;
  font-family: MuseoSansCyrl, sans-serif;
  font-size: 1rem;
  line-height: 18px;
  font-weight: bold;
  margin-left: 1.5rem;
}

.nic {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.review-about {
  font-family: MuseoSansCyrl, sans-serif;
  font-size: 1rem;
  line-height: 20px;
  font-weight: 400;
  color: #BDBDBD;
  margin-top: 1.3rem;
}

.date {
  font-family: EuclidCircularB-Regular, sans-serif;
  color: #BDBDBD;
}

.all_reviews {
  margin: 1.3rem 0;
}
.all_reviews-link {
  color: #BDBDBD;
  text-decoration: none;
}

.reitingsDate {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .review__menu-list-item {
    width: 100%;
  }
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .forum__list-item {
    margin-bottom: 1.5rem;
  }
}
.carousel-control {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.carousel-control__item {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 2px;
}
.carousel-control__item.active {
  border: 1px solid #956D84;
}
.carousel-control__item::after {
  content: "";
  display: inline-flex;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #956D84;
}