
@font-face {
    font-family: 'MuseoSansCyrl'; 
    src: local('MuseoSansCyrl-300'), local('MuseoSansCyrl'),
    url('./MuseoSansCyrl-300.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
